

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' crossorigin='anonymous')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

style
      include css/admin_dashboard.css
      include css/client_unified.css
      


#nav
  div.user-banner
    img(src='./uploads/clients/admin.png')
    h5.username= user[0].username
  ul
    li.head MENU
    li.active
      a(href="./admin_dashboard")
        i.fa.fa-fw.fa-dashboard
        span Tableau de bord
    li
      a(href="./admin_clients")
        i.fa.fa-fw.fa-inbox
        span.swatch.light-grey Ajouter client
    li
      a(href="/admin_contact")
        i.fa.fa-fw.fa-user
        span Contact
    li
      a(href="/logout")
        i.fa.fa-fw.fa-user
        span Logout


#main
  header
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#')= user[0].username
        li.breadcrumb-item.active(aria-current='page') Tableau de board

  #content
    #content
    h1 Liste des clients enregistrés
    .row
      each info in data
        .col-sm-4
          .box.property-glance
            .header
              h4.pull-left= info.place.name
              span.pull-right= "nombre de produits :" + info.foods.length
              div.clear-left
                i.fa.fa-map-marker
                span Spécialité
            .body
              .row
                div.col-sm-6.statistic.text-center
                  h1 5
                  small Produits validés
                div.col-sm-6.text-center
                  h1 1
                  small En attente validation

              .row
                .col-sm-12.col-xs-12.widget(data-toggle ="tooltip" data-placement = "bottom" title = "Tooltip on bottom")
                  a(href="/admin/company/list/" + info.foods[0].place) 
                    i.fa.fa-edit
              
      
              

    
    h4.love
      | Made with
      i.fa.fa-heart

    script
        include js/dashboard.js 