

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' crossorigin='anonymous')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
style
      include css/admin_contact.css
      include css/client_unified.css
      


#nav
  div.user-banner
    img(src='./uploads/clients/admin.png')
    h5.username= user.username
  ul
    li.head MENU
    li
      a(href="./admin_dashboard")
        i.fa.fa-fw.fa-dashboard
        span Tableau de bord
    li
      a(href="./admin_clients")
        i.fa.fa-fw.fa-inbox
        span.swatch.light-grey Ajouter client
    li.active
      a(href="/admin_contact")
        i.fa.fa-fw.fa-user
        span Contact
    li
      a(href="/logout")
        i.fa.fa-fw.fa-user
        span Logout


#main
  header
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#')= user.username
        li.breadcrumb-item.active(aria-current='page') Contact
  

script(src='https://code.jquery.com/jquery-1.11.1.min.js')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' crossorigin='anonymous')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
style
      include css/admin_contact.css
      include css/client_unified.css
      


#nav
  div.user-banner
    img(src='./uploads/clients/admin.png')
    h5.username= user.username
  ul
    li.head MENU
    li
      a(href="./admin_dashboard")
        i.fa.fa-fw.fa-dashboard
        span Tableau de bord
    li
      a(href="./admin_clients")
        i.fa.fa-fw.fa-inbox
        span.swatch.light-grey Ajouter client
    li.active
      a(href="/admin_contact")
        i.fa.fa-fw.fa-user
        span Contact
    li
      a(href="/logout")
        i.fa.fa-fw.fa-user
        span Logout


#main
  header
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#')= user.username
        li.breadcrumb-item.active(aria-current='page') Nos coordonnées
  #content.container
    form#contact_form.well.form-horizontal(action=' ' method='post')
      fieldset
        // Form Name
        legend Renseignement consernant FOOD SERVICE
        // Text input
        .form-group
          label.col-md-4.control-label Username
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(name='user_name' value= user.username placeholder= user.username type='text')
        // Text input
        // Text input
        .form-group
          label.col-md-4.control-label Prénom
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(name='first_name' value= user.firstname placeholder= user.firstname type='text')
        // Text input
        .form-group
          label.col-md-4.control-label Nom
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(name='last_name' value= user.lastname placeholder= user.lastname type='text')
        // Text input
        .form-group
          label.col-md-4.control-label E-Mail
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-envelope
              input.form-control(name='email' value= user.email placeholder= user.email type='text')
        // Text input
        .form-group
          label.col-md-4.control-label Site web ou nom de domaine
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-globe
              input.form-control(name='website' value= user.web placeholder= user.web type='text')
        // radio checks
        .form-group
          label.col-md-4.control-label Do you have hosting?
          .col-md-4
            .radio
              label
                if (user.hosting)
                  input(type='radio' checked  name='hosting' value='yes')
                  |  Yes
                else
                  input(type='radio'  name='hosting' value='yes')
                  |  Yes
            .radio
              label
                if (user.hosting)
                  input(type='radio' name='hosting' value='no')
                  |  No
                else
                  input(type='radio' checked name='hosting' value='no')
                  |  No
        // Button
        .form-group
          label.col-md-4.control-label
          .col-md-4
            button.btn.btn-warning(type='submit')
              | mise à jour de nos informations
              span.glyphicon.glyphicon-send



    script
        include js/admin_contact.js  