doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css' integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    style
      include css/client.css
    
  body
   nav(class="menu" , tabindex="0" )
    div(class="smartphone-menu-trigger")
    header(class="avatar")
        img(src=("./views/img/avatar.png"))
        h2= user.username
    ul
        li(tabindex="0" class="icon-food")
            span PRODUITS
        li(tabindex="0" class="icon-place")
            span INFO
   main
    div(class="helper") RESIZE THE WINDOW

    
                
    script
        include js/client.js   
    