

script(src='https://code.jquery.com/jquery-1.11.1.min.js')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' crossorigin='anonymous')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
style
      include css/dashboard.css



#nav
  div.user-banner
    img(src='./uploads/clients/b0uda.png')
    h5.username= user.username
  ul
    li.head MENU
    li.active
      a(href="#")
        i.fa.fa-fw.fa-dashboard
        span Tableau de bord
    li
      a(href="./client_produits")
        i.fa.fa-fw.fa-inbox
        span.swatch.light-grey Produits
    li
      a(href="#")
        i.fa.fa-fw.fa-user
        span Contact
    li
      a(href="/logout")
        i.fa.fa-fw.fa-user
        span Logout


#main
  header
    ol.breadcrumb
      li 
        a(href="#")= user.username
      li.active tableau de bord
  #content
    h1 Bienvenue dans le tableau de bord Web
    .box: .body
      p.user_message La solution professionnelle pour gérer votre commerce. Ici vous pouvez efferctuer plusieurs actions pour gérer votre commerce dans Food Service
    .row
      .col-sm-4
        .box.property-glance
          .header
            h4.pull-left Mes Produits
            span.pull-right Avg. Rent: $790
            div.progress.clear-right
              div.progress-bar(role = "progressbar" aria-valuenow = "75" aria-valuemin = "0" aria-valuemax = "100" style = "width: 75%;")
                | 70% occupied
                span.sr-only 70% Complete
            div.clear-left
              i.fa.fa-map-marker
              span Mascoutah, IL
          .body
            .row
              div.col-sm-6.statistic.text-center
                h1 24
                small Produits validés
              div.col-sm-6.text-center
                h1 18
                small En attente validation

            .row
              .col-sm-3.col-xs-6.widget(data-toggle = "tooltip" data-placement = "bottom" title = "Tooltip on bottom")
                i.fa.fa-comments-o
              .col-sm-3.col-xs-6.widget
                i.fa.fa-line-chart
              .col-sm-3.col-xs-6.widget
                i.fa.fa-money
              .col-sm-3.col-xs-6.widget
                i.fa.fa-users
      .col-sm-4
        .box.property-glance
          .header
            h4.pull-left Contact
            span.pull-right Avg. Rent: $790
            div.progress.clear-right
              div.progress-bar(role = "progressbar" aria-valuenow = "75" aria-valuemin = "0" aria-valuemax = "100" style = "width: 75%;")
                | 70% occupied
                span.sr-only 70% Complete
            div.clear-left
              i.fa.fa-map-marker
              span Mascoutah, IL
          .body
            .row
              div.col-sm-6.statistic.text-center
                h1 24
                small Produits validés
              div.col-sm-6.text-center
                h1 18
                small En attente validation

            .row
              .col-sm-3.col-xs-6.widget(data-toggle = "tooltip" data-placement = "bottom" title = "Tooltip on bottom")
                i.fa.fa-comments-o
              .col-sm-3.col-xs-6.widget
                i.fa.fa-line-chart
              .col-sm-3.col-xs-6.widget
                i.fa.fa-money
              .col-sm-3.col-xs-6.widget
                i.fa.fa-users

    div.row
      .col-sm-6
        h1 Recent Messages
        .box(style = "margin-top: 20px;"): .body
          p A quick-glance at work orders and customer needs.
        .timeline
          - for (var x = 0; x < 3; x++)
            .item
              .circle
              .message
                Here we have a timeline item
      .col-sm-6    
        h1 Recent Transactions
        .box(style = "margin-top: 20px;"): .body
          p A quick-glance at income and expendatures.

    h4.love
      | Made with
      i.fa.fa-heart

    script
        include js/dashboard.js  