doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css' integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    style
      include css/login.css
    
  body
    div(class="login-page")
        div(class="form")
            h1 Food Service Login
            form(class="register-form" action="./register" method="post")
                input(type="text" , name="user[name]"  , placeholder="name")
                input(type="password" , name="password" , placeholder="password")
                input(type="email" , name="email" ,  placeholder="email address")
                input(type="submit" , value="REGISTER")
                P(class="message") Already registered?
                    a(href="#") Sign In
            form(class="login-form" action="./login" method="post")
                input(type="text" ,  class="name" , name = "name" , placeholder="username")
                input(type="password" , name="password" , placeholder="password")
                input(type="submit" , value="LOGIN")
                P(class="message") Not registred?
                    a(href="#") Create Account
    div(class="test") odkwodjwio
                
    script
        include js/login.js   
    