<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <style>

    </style>
</head>

<body>
    <div class="site">

        <header class="entry-header wide">
            <a href="http://localhost:3030/foodList"><i class="fas fa-arrow-left"></i> </a>
            <a href="http://localhost:3030/imagesRemove/<%= pictureUrl[0].split('-')[0] %>"> <i class="fa fa-trash"></i>
            </a>
            <h2 style="font-size:2rem; vertical-align:top; display:inline-block; margin-left:20%;" class="entry-title">
                <%= pic_name.split("_")[1] %> Chez <%= pic_name.split("_")[2] %></h2>

        </header>


        <div class="entry-content wide">

            <ul class="gallery-portfolio">

                <% if(validated == 'non') { %>

                <% for(var pic in pics) { %>

                <li class="food_item">
                    <a href="#"><img alt="" class="food_img" src="http://localhost:3030/uploads/<%= pics[pic] %>"></a>

                    <div class="food_actions">
                        <a id="btn_validate" href="http://localhost:3030/validate/<%= pics[pic] %>">validate</a>
                        <a id="btn_delete" href="http://localhost:3030/delete">Delete</a>
                    </div>

                </li>

                <% } %>

                <% } %>



                <% if(validated == 'yes') { %>




                <a href="#"><img alt="" style=" " class="food_img food_img_validated"
                        src="http://localhost:3030/uploads/<%= pics[0] %>"></a>



                <% } %>


            </ul><!-- .gallery-portfolio -->

        </div><!-- .wide -->

        <% if(validated != 'new') { %>

        <form class="navigation" encType="multipart/form-data" method="post"
            action="http://localhost:3030/uploadAdmin/<%= pics[0].split("-")[0] %>">

            <input class="btn" name="picture" type="file" />
            <input class="btn" type="submit" />
        </form>


        <% } %>

        <% if(validated == 'new') { %>

        <form class="navigation" encType="multipart/form-data" method="post"
            action="http://localhost:3030/uploadAdmin/<%= pics[0] %>">
            <input class="btn" name="picture" type="file" />
            <input class="btn" type="submit" />
        </form>


        <% } %>

    </div><!-- .site -->

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>



    <script>

    </script>

</body>