doctype html
html(lang="en")
  head
    title= pageTitle

    style
      include css/file_uploaded.css
   
  body
    div 
        h1 Image uploaded by admin panel and other images deleted
        a(class='btn' href='http://localhost:3030/foodList') BACK TO FOOD LIST
   
    
    